<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
  
</head>

<body>
  <header>
    
   <div class="logo">
   <h1>The Tech Blog</h1>
   </div>
   {{>navbar}}
  </header>
  <h4 id="message" class="hidden"></h4>
    {{{body}}}
  
</body>
<script src="/public/js/index.js"></script>
</html>