<div class="card-container">
    {{#each posts}}
    <div class="card">
        <div class="card-header">
            <span class="card-title">{{dataValues.title}}</span>
            <span>Posted by: {{dataValues.user.dataValues.username}}</span>
            <span>on {{format_date dataValues.date}}</span>
        </div>
        <div class="card-body">
        <p>Post: {{dataValues.content}}</p>
        </div>
    </div>
    {{/each}}
</div>