html {
    font-family: sans-serif;
}

body {
    margin: 0%;
}

.blog-title {
    background-color: rgb(131, 96, 172);
    font-family: sans-serif;
    font-size: 2rem;
    padding: 13px;
}

.logo {
    display: inline-block;
    border: 2px solid rgb(28, 17, 185);
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    color: rgb(71, 57, 117);
    font-family: monospace;
}

.logo>* {
    margin-block-start: 0%;
    margin-block-end: 0%;
}

header {
    background-color: rgb(37, 28, 63);
    padding: 15px;
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10 px;
    align-items: center;
    padding: 15px;
}

.post-comment-form {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.post-comment-form > textarea {
    flex-grow: 1;
}

.post-comment-message {
    flex-grow: 1;
    text-align: center;
}

@media screen and (max-width: 599px) {
    .post-comment-form {
        flex-direction: column;
        gap: 5px
    }

    .post-comment-form > textarea {
        align-self: stretch;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 15px 30% ;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px;
    gap: 20px;
}

.card {
    border: 2px solid rgb(37, 28, 63);
    border-radius: 8px;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
    background-color: rgb(37, 28, 63);
    color: white;
    padding: 10px;
}

.card-title {
    margin-right: auto;
    font-size: 1.25rem;
    font-weight: bolder;
    flex-grow: 1;
}

.card-body {
    padding: 10px;
}

.post-comment-container > .post-comment:nth-child(odd) {
    background-color: #ddd;
}

.post-comment {
    padding: 10px;
}

.post-comment-header {
    font-size: 0.9rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-comment-body {
    font-size: 0.8rem;
    padding: 10px 0px;
}

.card-footer {
    padding: 5px;
}

button {
    display: inline-block;
    border-radius: 6px;
    margin: 0px 20px 0px 20px;
}

.hidden {
    display: none;
}

.hidden-light {
    visibility: hidden;
    position: absolute;
    left: -9999999;
}

.hidden-light * {
    visibility: hidden;
}

#message {
    color: crimson;
    text-align: center;
}

.editable {
    cursor: pointer;
}

.editing {
    border: 3px dashed rgb(0, 81, 255);
}

.expandable {
    cursor: pointer;
}

@media screen and (max-width: 599px) {
    .card-header {
        flex-direction: column;
    }

    .card-title {
        margin-right: 0%;
    }
}